nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    box-shadow: 0 1px 7px rgb(57, 181,186);
}
.sidebar ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
}
.sidebar ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:#00827f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s
}
.sidebar ul li a:hover::after{
    width: 100%;
}
/* numbers */
#services{
    padding:30px 0; 
}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
    color:#fff;
}
.services-list div{
   background: #00827f;
    padding:40px;
    font-size:13px;
    font-weight:300;
    border-radius:10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
 font-size: 30px;
 margin-bottom: 30px;
}
.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin-bottom:15px;
}
.services-list div a{
    text-decoration:none;
    color:#fff;
    font-size:20px;
    font-weight: lighter;
    margin-top:20px;
    display:inline-block;
}
.services-list div:hover{
    background: #91ddf2;
    transform: translateY(-10px);
}
.services-list div 
{
    display:block;
   align-items: center;

}
.services-list div a::after{
    content:'';
    width:0;
    height:3px;
    background:#fff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s
}
.services-list div a:hover::after{
    width: 100%;
}
/*contact*/
.contact-left{
    flex-basis: 35%;
    }
    .contact-right{
        flex-basis: 60%;
     }
    .contact-left p{
    margin: top 30px;
    }
    .contact-left p i{
    color:#00827f;
    margin-right: 15px;
    font-size:25px;
    }
    .social-icons a{
    text-decoration:none;
    font-size:25px;
    margin-top: 10px;
    margin-right:15px;
    color:#ffffff;
    display:inline-block;
    transition:transform 0.5s;
    }
    .social-icons a:hover{
        color:#00827f;
        transform:translateY(-5px);
    }
    .btn.btn2
    {
    margin-top: 10px;
    display: inline-block;
    background:#00827f;
    }
    .contact-right form
    {
    width: 100%;
    }
    form input,form textarea{
        width:100%;
        border:0;
        outline:none;
        background-color: #ffffff;
        padding: 15px;
        margin: 15px 0;
        color: #000000;
        font-size: 18px;
        border-radius:6px;
    }
    form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
    }
    .copyright{
        width: 100%;
        text-align: center;
        padding:25px 0 ;
        background:#00827f;
        font-weight: 300;
        margin-top: 20px;
    }
    .copyright i{
        color:#91ddf2;
    }
  
