nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    box-shadow: 0 1px 7px rgb(57, 181,186);
}
.sidebar ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
}
.sidebar ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:#00827f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s
}
.sidebar ul li a:hover::after{
    width: 100%;
}
#arrow
{
    font-size: 35px;
    margin-left: 20px;
    margin-top: 10px;
}
/* cards */
#cards1 {
    margin-top: 30px;
    height: fit-content;
    justify-content: space-around
}

#row1 {
    display: inline-flex;
    margin-left: 2px;
}
#row2
{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 2px;
}
.col {
    margin-top: 15px;
}

.card {
    width: 19rem;
    height: 14rem;
    position: relative;
    max-width: 262px;
    background-color: white;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    z-index: 0;
}

.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00827f;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card:hover:before {
    transform: scale(24);
}
.card-body i{
    font-size:80px;
    margin-left:50px;
    margin-top:10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  
}

.card:hover .icon{
    transition: all 0.3s ease-out;
    color: white;
}

.card:hover .card-body h5{
    transition: all 0.3s ease-out;
    color: white;
}

.card.selected .checkmark {
    display: block;
}

.card-body {
    height: 100%;
    color: #00827f;

}

.card-title {
    font-size: x-large;
    color: #00827f;
    text-align: center;
}

.checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:black; /* Green color for the background */
    color: wheat; /* White color for the tick mark */
    font-size: 14px; /* Adjust font size */
    border-radius: 50%; /* Make it round */
    padding: 5px; /* Adjust padding for size */
    display: none;
}
/* image */
.hero
{
    margin-top: 170px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
#drop-area
{
    width: 500px;
    height: 400px;
    padding:30px;
    background:#fff;
    text-align: center;
    border-radius:20px;
}
#img-view
{
    width: 100%;
    height:100%;
    border-radius: 20px;
    border:2px dashed #bbb5ff;
    background:#ecf4f3;;
    background-position: center;
    background-size: cover;
}  
#img-view img{
    width:100px;
    margin-top: 25px;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top:15px;
}
/* user details */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #cedbda;
    --secondary-color: #00827f;
  }
  
  #animation{
    min-height: 20vh;
    position: relative;
    width: 100%;
    display: flex;
    background-color: var(--complimentary-color);
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   position: relative;
  }
  
  h1 {
    font-size: 50px;
    color: var(--primary-color);
    transform: translateY(-600px);
    animation: 1.2s slideIn ease-in-out forwards 1s;
    z-index: 10;
    opacity: 0;
    position: relative;
  }
  
  h1::before {
      content: '';
      width: 0%;
      height: 76px;
      background-color: var(--secondary-color);
      position: absolute;
      bottom: -10px;
      animation: 1s underline ease-in-out forwards 2s;
      mix-blend-mode: screen;
  }
  
  .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      opacity: 0;
      left: 0;
      right: 0;
      background-color: var(--secondary-color);
      transform: scale(.5);
      animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
  }
  
  @keyframes skewBg {
    0% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes underline {
    100% {
      width: 100%;
    }
  }
  
  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
/* footer */
    .copyright{
        width: 100%;
        text-align: center;
        padding:25px 0 ;
        background:#00827f;
        font-weight: 300;
        margin-top: 20px;
    }
    .copyright i{
        color:#91ddf2;
    }
  
#btn
{
    background-color: #00827f;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-left: 30px;
    margin-top: 15px;
}