:root {
    --primary: hsla(178, 77%, 48%, 0.5);
    --secondary: hsla(155, 71%, 75%, 0.5);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 4.5rem;
    color: black;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
        url(images/selectuser.png)no-repeat center center / cover;

}

* {
    margin: 0;
    padding: 0;
}

.content h1 {
    font-size: 50px;
    color: white;
}

button {
    width: 240px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bolder;
    font-size: 18px;
    border: 2px, solid #fdf5e6;
    background: transparent;
    color: #4D5157;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}

.span {
    background: #e3e1d3;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}
#preloader
{
    background:#14ab8b url(images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}