/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}
form p span {
    color: red;
}
form{
    margin-top: 35px;
    margin-left: 30px;
}
form p{
    margin-top:5px;
    margin-bottom: 5px;
}
.head{
    margin-top: 150px;
    margin-left: 30px;
}
button{
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background-color:rgb(107, 196, 219);
    border: none;
    font-weight: 300;
}