/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background-color: #ffffff;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form p span {
    color: red;
}
form{
    margin-top: 35px;
    margin-left: 50px;
}
form p{
    margin-top:5px;
    margin-bottom: 5px;
}
.head{
    margin-top: 70px;
    margin-left: 50px;
}
button{
    width: 130px;
    height: 35px;
    background-color:rgb(203, 243, 253);
    border: none;
    font-weight: 500;
}
button:hover
{
    cursor: pointer;
}
  body{
    /* The image used */
    background-image: url("images/signup.png");
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }