nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    box-shadow: 0 1px 7px rgb(57, 181,186);
}
.sidebar ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
}
.sidebar ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:#00827f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s
}
.sidebar ul li a:hover::after{
    width: 100%;
}
#arrow
{
    font-size: 35px;
    margin-left: 10px;
    margin-top: 10px;
}
 /* accept */
 #details-form {
    display: none;
    text-align: center;
    margin-top: 30px;
    height: 670px;
    width: 600px;
    border: 4px solid #00827f;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

#details-form h2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(53, 51, 51);
    
}

#details-form form {
    text-align: left;
}

#details-form label {
    font-size: 22px;
    font-weight: bold;
    margin-left: 40px;
    color: #00827f;
    display: block;
    margin-bottom: 5px;
}

#details-form input {
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 300px;
    margin-left: 40px;
    background-color: #d4dcdb;
    margin-bottom: 15px;
    padding: 0 10px;
    box-sizing: border-box;
}

#details-form button {
    width: 140px;
    margin-top: 30px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 18px;
    margin-left: 40px;
}
/* image */
.hero
{
    margin-top: 30px;
    width: 100%;
    align-content: center;
    justify-content: center;
}
#drop-area
{
    width: 500px;
    height: 400px;
    padding:30px;
    background:#fff;
    text-align: center;
    border-radius:20px;
}
#img-view
{
    width: 100%;
    height:100%;
    border-radius: 20px;
    border:2px dashed #bbb5ff;
    background:#ecf4f3;
    background-position: center;
    background-size: cover;
}  
#img-view img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top:15px;
}



/* footer */
.copyright{
    width: 100%;
    text-align: center;
    padding:25px 0 ;
    background:#00827f;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color:#91ddf2;
}
